<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./../assets/styles/sidebar.css">
    <link rel="stylesheet" href="./../assets/styles/style.css">
    <link rel="stylesheet" href="./../assets/styles/account.css">
    <title>Accounts</title>
</head>

<body class="vh-100">

    <main id="app" class="container-fluid p-0 bg-dark-subtle d-flex">
        <!-- sidebar -->

        <aside class="" :class="showSide ? 'expand-sidebar' : ''">
            <div class="logo">

                <span class="material-icons">
                    account_balance
                </span>

            </div>

            <h3 class="menu-tittle fw-bold text-uppercase small">Menu</h3>
            <div class="menu d-block">
                <a href="./accounts.html" class="button text-decoration-none mb-2">
                    <span class="material-icons">
                        account_balance
                    </span>
                    <span class="text">Accounts</span>
                </a>
                <a href="./cards.html" class="button text-decoration-none mb-2">
                    <span class="material-icons">
                        credit_card
                    </span>
                    <span class="text">Cards</span>
                </a>
                <a href="./transfers.html" class="button text-decoration-none mb-2">
                    <span class="material-icons">
                        currency_exchange
                    </span>
                    <span class="text">Transfers</span>
                </a>
            </div>
        </aside>


        <div class="container-fluid p-0" :class="!showSide ? 'overflow-auto' : '' ">
            <!-- nav -->
            <nav class="navbar navbar-expand-md ">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <div class="menu-toggle-wrap" :class="showSide ? 'expand-sidebar' : ''">
                        <span class="menu-toggle" @click="showSideBar">
                            <span class="material-icons">
                                keyboard_double_arrow_right
                            </span>
                        </span>
                    </div>


                    <div class="" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item align-bottom">
                                <a @click="logout()" class="nav-link" aria-current="page" href="#">
                                    <span class="material-icons">
                                        logout
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid ">
                <!-- Contenido principal -->
                <div class="row px-0 gap-3 px-0 px-md-3">
                    <div
                        class="col-12 banner-account bg-body d-flex align-items-center justify-content-between flex-wrap rounded-1 py-4">
                        <h5 class="fw-bold color-claro">Transacions</h5>

                        <div>
                            <div class="btn-group">
                                <button class="dropdown-toggle color-oscuro border-0" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">

                                    <h3 class="fw-bold d-inline">{{account.number}}</h3>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="text-decoration-none color-oscuro dropdown-item"
                                            v-bind:href="'./transfers.html?num=' + account.number ">Transfer</a></li>
                                    <li><a class="text-decoration-none dropdown-item text-danger" @click="deleteAccount(account.id)">Delete Account</a></li>
                                </ul>
                            </div>
                            <p class="small m-0 text-end me-2">Balance {{formatCurrency(account.balance)}}</p>
                        </div>
                    </div>

                    <!-- desktop -->
                    <section v-if="transactions.length" class="col-12 bg-body my-3 d-none d-md-block rounded-1">

                        <div class="d-flex justify-content-around py-3">
                            <div class="me-3">
                                <label for="startDate">First Date:</label>
                                <input type="date" id="startDate" v-model="date1">
                            </div>
                            <div>
                                <label for="endDate">Second Date:</label>
                                <input type="date" id="endDate" v-model="date2">
                            </div>

                            <button class="btn" @click="postPdf" v-if="date1 && date2">Download PDF</button>
                        </div>
                        <div class="px-0 px-md-2 py-2 overflow-auto">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col"> Date</th>
                                        <th scope="col">Acc Balance</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(transaction, index) of transactions">
                                        <td>{{index+1}}</td>
                                        <td>
                                           
                                            {{formatDate(transaction.date)}}
                                        </td>
                                        <td>
                                            {{formatCurrency(transaction.currentAccountBalance)}}
                                        </td>
                                        <td>{{transaction.description}}</td>
                                        <td class="fila"><span class="fw-bold"
                                                :class="transaction.type == 'DEBIT' ? 'DEBIT' : 'CREDIT' ">{{formatCurrency(transaction.amount)}}</span>
                                        </td>
                                        <td class="fw-bold"
                                            :class="transaction.type == 'DEBIT' ? 'text-danger' : 'text-success' ">
                                            {{transaction.type}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <!-- mobile -->

                    <section v-if="transactions.length" class="d-block d-md-none pb-3 border-bottom"
                        v-for="transaction of transactions">
                        <p class="mb-1"> {{formatDate(transaction.date)}}</p>
                        <div class="bg-body d-flex justify-content-between px-3 py-2 rounded ">
                            <div>
                                <h6>{{formatCurrency(transaction.amount)}}</h6>
                                <p class="small m-0">{{transaction.description}}</p>
                            </div>
                            <div>
                                <p class="fw-bold m-0"
                                    :class="transaction.type == 'DEBIT' ? 'text-danger' : 'text-success' ">
                                    {{transaction.type}}</p>
                            </div>
                        </div>
                    </section>


                    <div v-if="!transactions.length" class="h-100 bg-body p-5">
                        <div
                            class="d-flex border flex-column justify-content-center align-items-center empty-transaction ">
                            <span class="material-icons f-6 text-muted">
                                error_outline
                            </span>
                            <h3 class="text-center fw-bold text-muted fw-bolder ">You haven't added any transaction</h3>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="./../scripts/account.js"></script>
</body>

</html>