<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./../assets/images/z1giwuiI.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./../assets/styles/sidebar.css">
  <link rel="stylesheet" href="./../assets/styles/style.css">
  <link rel="stylesheet" href="./../assets/styles/cards.css">
  <title>Paez | Cards</title>
</head>

<body class="vh-100">

  <main id="app" class="container-fluid p-0 bg-dark-subtle d-flex" v-cloak>
    <!-- sidebar -->

    <aside class="" :class="showSide ? 'expand-sidebar' : ''">
      <div class=" button text-decoration-none mb-2 d-flex align-items-center flex-nowrap">
        <img class="logo text-decoration-none mb-2" src="./../assets/images/favicon.png" alt="" srcset="" style="width: 3.5rem;">
        <span class="text menu-tittle fw-bold text-uppercase">Paez</span>
    </div>

      <h3 class="menu-tittle fw-bold text-uppercase small">Menu</h3>
      <div class="menu d-block flex-grow-1">
        <a href="./accounts.html" class="button text-decoration-none mb-2">
          <span class="material-icons">
            account_balance
          </span>
          <span class="text">Accounts</span>
        </a>
        <a href="#" class="button text-decoration-none mb-2">
          <span class="material-icons">
            credit_card
          </span>
          <span class="text">Cards</span>
        </a>
        <a href="./transfers.html" class="button text-decoration-none mb-2">
          <span class="material-icons">
            currency_exchange
          </span>
          <span class="text">Transfers</span>
        </a>
      </div>
      <div class="menu d-block">
        <a href="./admin/adminDashboard.html" class="button text-decoration-none mb-2" v-if="client.admin">
            <span class="material-icons">
                manage_accounts
            </span>
            <span class="text">Admin</span>
        </a>
    </div>
    </aside>


    <div class="container-fluid p-0" :class="!showSide ? 'overflow-auto' : '' ">
      <!-- nav -->
      <nav class="navbar navbar-expand-md ">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <div class="menu-toggle-wrap" :class="showSide ? 'expand-sidebar' : ''">
            <span class="menu-toggle" @click="showSideBar">
              <span class="material-icons">
                keyboard_double_arrow_right
              </span>
            </span>
          </div>


          <div class="" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item align-bottom">
                <a @click="logout()" class="nav-link" aria-current="page" href="#">
                  <span class="material-icons">
                    logout
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


        <!-- spinner -->
        <div class="sk-cube-grid position-absolute top-50 start-50 translate-middle " v-if="loading">
          <div class="sk-cube sk-cube1"></div>
          <div class="sk-cube sk-cube2"></div>
          <div class="sk-cube sk-cube3"></div>
          <div class="sk-cube sk-cube4"></div>
          <div class="sk-cube sk-cube5"></div>
          <div class="sk-cube sk-cube6"></div>
          <div class="sk-cube sk-cube7"></div>
          <div class="sk-cube sk-cube8"></div>
          <div class="sk-cube sk-cube9"></div>
      </div>

      <!-- Contenido principal -->
      <div class="container-fluid " :class=" loading ? 'd-none' : 'd-block' ">
        <div class="row px-0 px-md-3 py-4 gap-1 overflow-auto">
          <div
            class="col-12 banner-account bg-body rounded border-bottom d-flex justify-content-center justify-content-md-between align-items-center flex-wrap">
            <div class="balance text-center text-md-start m-4 m-md-3">
              <h3 class="fw-bold">Your Cards</h3>

            </div>
            <div class="m-2 m-md-3">
              <h4 class="fw-bold client-name color-claro">{{client.firstName}} {{client.lastName}}</h4>
              <p class="small">{{client.email}}</p>
            </div>
            <div v-if="cards.length < 6" class="col-12 border-top text-center py-4">
              <span class="material-icons fs-2">
                add_card
              </span>
              <h6 v-if="debitCards.length < 1 && creditCards.length < 1 " class="fw-bold">You don't have cards yet</h6>
              <h6 v-else-if="debitCards.length < 1" class="fw-bold">You don't have debit cards yet</h6>
              <h6 v-else-if="creditCards.length < 1" class="fw-bold">You don't have credit cards yet</h6>
              <h6 v-else class="fw-bold">Add new card?</h6>
              <a class="btn" href="./create-cards.html">Get one</a>
            </div>
          </div>
          <span v-show="debitCards.length">
            <h5 class="mt-3 fs-3 ">Debit</h5>
          </span>
          <div v-if="debitCards.length" class="col-12 rounded py-3 d-flex flex-wrap justify-content-evenly ">

            <div v-for="card of debitCards" :key="card.id" class="plastic-card col-12 col-md-3 mt-2"
            @click="selectedCard = card" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <!-- clase color dinamica -->

              <div
                v-bind:class="['plastic-card__front', 'plastic-card__part', card.color.toLowerCase() +'-plastic-card']">
                <div class="plastic-card__square">
                  <span class="plastic-card__label">{{ card.type}} {{ card.color }}</span>
                </div>
                <div class="plastic-card__front-logo plastic-card__logo">
                  <svg viewBox="0 0 35.31 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#e60019" stroke-width="0"
                      d="m12 24-12-12 12-12 5.66 5.66-6.34 6.34 6.34 6.34-5.66 5.66z"></path>
                    <path fill="#f69f24" stroke-width="0"
                      d="m23.31 0 12 12-12 12-5.66-5.66 6.34-6.34-6.34-6.34 5.66-5.66z"></path>
                    <rect fill="#f85c1d" stroke-width="0" transform="translate(-3.31 16) rotate(-45)" x="13.17" y="7.52"
                      width="8.97" height="8.97"></rect>
                  </svg>
                </div>
                <p class="plastic-card_numer">{{ card.number}}</p>
                <div class="plastic-card__space-60">
                  <span class="plastic-card__label">card holder</span>
                  <p class="plastic-card__info">{{ card.cardHolder }}</p>
                </div>
                <div class="plastic-card__space-25">
                  <span class="plastic-card__label">Expires</span>
                  <p class="plastic-card__info">{{ formatDate(card.thruDate) }}</p>
                </div>
              </div>

              <div
                v-bind:class="['plastic-card__back', 'plastic-card__part', card.color.toLowerCase() +'-plastic-card']">
                <div class="plastic-card__black-line"></div>
                <div class="plastic-card__back-content">
                  <div class="plastic-card__secret">
                    <p class="plastic-card__secret--last">{{ card.cvv}}</p>
                  </div>
                  <div class="plastic-card__back-square plastic-card__square">
                    <span class="plastic-card__label">{{ card.type}} {{ card.color }}</span>
                  </div>
                  <div class="plastic-card__back-logo plastic-card__logo">
                    <svg viewBox="0 0 35.31 24" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#e60019" stroke-width="0"
                        d="m12 24-12-12 12-12 5.66 5.66-6.34 6.34 6.34 6.34-5.66 5.66z"></path>
                      <path fill="#f69f24" stroke-width="0"
                        d="m23.31 0 12 12-12 12-5.66-5.66 6.34-6.34-6.34-6.34 5.66-5.66z"></path>
                      <rect fill="#f85c1d" stroke-width="0" transform="translate(-3.31 16) rotate(-45)" x="13.17"
                        y="7.52" width="8.97" height="8.97"></rect>
                    </svg>
                  </div>
                </div>
              </div>
              <small class="text-danger text-small text-center" v-show="card.fromDate == card.thruDate"><span
                  class="material-icons fs-6 me-2">
                  error_outline
                </span>{{cardAlertExpired(card.thruDate)}}</small>

            </div>
          </div>
          <span v-show="creditCards.length">
            <h5 class="mt-3 fs-3">Credit</h5>
          </span>
          <div v-if="creditCards.length" class="col-12 rounded  py-3 d-flex flex-wrap justify-content-evenly">



            <div v-for="card of creditCards" :key="card.id" class="plastic-card col-12 col-md-3 mt-2"
            @click="selectedCard = card" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <!-- clase color dinamica -->

              <div
                v-bind:class="['plastic-card__front', 'plastic-card__part', card.color.toLowerCase() +'-plastic-card']">
                <div class="plastic-card__square">
                  <span class="plastic-card__label">{{ card.type}} {{ card.color }}</span>
                </div>
                <div class="plastic-card__front-logo plastic-card__logo">
                  <svg viewBox="0 0 35.31 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#e60019" stroke-width="0"
                      d="m12 24-12-12 12-12 5.66 5.66-6.34 6.34 6.34 6.34-5.66 5.66z"></path>
                    <path fill="#f69f24" stroke-width="0"
                      d="m23.31 0 12 12-12 12-5.66-5.66 6.34-6.34-6.34-6.34 5.66-5.66z"></path>
                    <rect fill="#f85c1d" stroke-width="0" transform="translate(-3.31 16) rotate(-45)" x="13.17" y="7.52"
                      width="8.97" height="8.97"></rect>
                  </svg>
                </div>
                <p class="plastic-card_numer">{{ card.number}}</p>
                <div class="plastic-card__space-60">
                  <span class="plastic-card__label">card holder</span>
                  <p class="plastic-card__info">{{ card.cardHolder }}</p>
                </div>
                <div class="plastic-card__space-25">
                  <span class="plastic-card__label">Expires</span>
                  <p class="plastic-card__info">{{ formatDate(card.thruDate) }}</p>
                </div>
              </div>

              <div
                v-bind:class="['plastic-card__back', 'plastic-card__part', card.color.toLowerCase() +'-plastic-card']">
                <div class="plastic-card__black-line"></div>
                <div class="plastic-card__back-content">
                  <div class="plastic-card__secret">
                    <p class="plastic-card__secret--last">{{ card.cvv}}</p>
                  </div>
                  <div class="plastic-card__back-square plastic-card__square">
                    <span class="plastic-card__label">{{ card.type}} {{ card.color }}</span>
                  </div>
                  <div class="plastic-card__back-logo plastic-card__logo" src="img/Mindhub-logo.png">
                    <svg viewBox="0 0 35.31 24" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#e60019" stroke-width="0"
                        d="m12 24-12-12 12-12 5.66 5.66-6.34 6.34 6.34 6.34-5.66 5.66z"></path>
                      <path fill="#f69f24" stroke-width="0"
                        d="m23.31 0 12 12-12 12-5.66-5.66 6.34-6.34-6.34-6.34 5.66-5.66z"></path>
                      <rect fill="#f85c1d" stroke-width="0" transform="translate(-3.31 16) rotate(-45)" x="13.17"
                        y="7.52" width="8.97" height="8.97"></rect>
                    </svg>
                  </div>
                </div>
              </div>

            </div>


          </div>

        </div>
        <!-- Modal -->
        <div v-if="selectedCard" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header py-4" :class="[selectedCard.color+'-plastic-card']">
                <h1 class="modal-title fs-5 text-light py-2" id="exampleModalLabel">{{selectedCard.type}} {{selectedCard.color}}</h1>
                <button type="button" class="btn-close bg-light-subtle rounded-5 p-3" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body px-4">
                <div class="row gap-2">
                  <div class="col-5">
                    <h6>Number</h6>
                    <p>{{selectedCard.number}}</p>
                  </div>
                  <div class="col-4">
                    <h6>Card Holder</h6>
                    <p>{{selectedCard.cardHolder}}</p>
                  </div>
                  <div class="col">
                    <h6>cvv</h6>
                    <p>{{selectedCard.cvv}}</p>
                  </div>
                  <div class="col">
                    <h6>Thru Date</h6>
                    <p>{{selectedCard.thruDate}}</p>
                  </div>
                  <div class="col-5">
                    <h6>From Date</h6>
                    <p>{{selectedCard.fromDate}}</p>
                  </div>
                  <div class="col-12">
                    <div class="alert alert-danger text-center d-flex justify-content-between" role="alert"   data-bs-dismiss="modal">
                      <span class="question">Delete this card?</span>
                      <span @click="deleteCard(selectedCard.id)" class="material-icons pointer">
                        delete_outline
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

  </main>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="./../scripts/cards.js"></script>
</body>

</html>