<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="./../assets/styles/sidebar.css">
  <link rel="stylesheet" href="./../assets/styles/transfers.css">
  <link rel="stylesheet" href="./../assets/styles/style.css">
  <title>Transfers</title>
</head>

<body class="vh-100 overflow-hidden">

  <main id="app" class="container-fluid p-0 bg-dark-subtle d-flex ">
    <!-- sidebar -->

    <aside class="" :class="showSide ? 'expand-sidebar' : ''">
      <div class="logo">

        <span class="material-icons">
          account_balance
        </span>

      </div>

      <h3 class="menu-tittle fw-bold text-uppercase small">Menu</h3>
      <div class="menu d-block flex-grow-1">
        <a href="./accounts.html" class="button text-decoration-none mb-2">
          <span class="material-icons">
            account_balance
          </span>
          <span class="text">Accounts</span>
        </a>
        <a href="./cards.html" class="button text-decoration-none mb-2">
          <span class="material-icons">
            credit_card
          </span>
          <span class="text">Cards</span>
        </a>
        <a href="#" class="button text-decoration-none mb-2">
          <span class="material-icons">
            currency_exchange
          </span>
          <span class="text">Transfers</span>
        </a>
      </div>
      <div class="menu d-block" v-if="client.isAdmin">
        <a href="./adminDashboard.html" class="button text-decoration-none mb-2" >
            <span class="material-icons">
                manage_accounts
                </span>
            <span class="text">Admin</span>
        </a>
    </div>
    </aside>


    <div class="container-fluid p-0 overflow-auto">
      <!-- nav -->
      <nav class="navbar navbar-expand-md ">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <div class="menu-toggle-wrap" :class="showSide ? 'expand-sidebar' : ''">
            <span class="menu-toggle" @click="showSideBar">
              <span class="material-icons">
                keyboard_double_arrow_right
              </span>
            </span>
          </div>


          <div class="" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item align-bottom">
                <a @click="logout()" class="nav-link" aria-current="page" href="#">
                  <span class="material-icons">
                    logout
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid mb-5">
        <div class="row px-0 gap-3">
          <div class="container-fluid overflow-auto ">
            <div class="row justify-content-center px-0 px-md-4">
              <div class="col-12 card-transition ">
                <div class="card card-transition border-0">
                  <div class="card-body px-3 px-md-5 ">
                    <div class="bg-white shadow-sm pl-2 pr-2 pb-2">
                      <!-- Credit card form tabs -->
                      <ul role="tablist" class="nav nav-tabs nav-pills with-arrow lined d-flex text-center">
                        <li class="nav-item flex-sm-fill"> <a data-bs-toggle="pill" href="#credit-card"
                            class="nav-link mr-sm-3 rounded-0 active ">Your acounts</a> </li>
                        <li class="nav-item flex-sm-fill"> <a data-bs-toggle="pill" href="#net-banking"
                            class="nav-link mr-sm-3 rounded-0">To others</a> </li>
                      </ul>
                    </div>
                    <form class="px-0 px-md-4 py-5">
                      <!-- 1 -->
                      <div  class="d-flex flex-wrap">

                        <div class="col-12 col-md-6 px-2">
                          <div class="form-group  mb-3">
                            <label class="form-label ">From account</label>
                            <select class="form-select" v-model="formData.originNumber"
                              aria-label="Default select example">
                              <option selected disabled>Select your account</option>
                              <option :value="account.number" v-for="account of accounts" :key="account.id"
                              v-show="!formData.destinyNumber || account.number !== formData.destinyNumber">{{account.number }} | balance {{formatCurrency(account.balance)}}</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-12 col-md-6 px-2">
                          <!-- Credit card form content -->
                          <div class="tab-content mb-3">
                            <!-- credit card info-->
                            <div id="credit-card" class="tab-pane fade show active ">

                              <label class="form-label">
                                To account
                              </label>
                              <select class="form-select" v-model="formData.destinyNumber">
                                <option selected disabled>Select account</option>
                                <option :value="account.number" v-for="account of accounts" :key="account.id"
                                v-show="account.number !== formData.originNumber">
                                {{account.number }} | balance {{formatCurrency(account.balance)}}</option>
                              </select>


                            </div>
                            <!-- bank transfer info -->
                            <div id="net-banking" class="tab-pane fade mb-3">
                              <label class="form-label">Transfer to</label>
                              
                              <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">VIN-</span>
                                <input type="text" class="form-control" placeholder="123501" aria-label="Username"
                                  aria-describedby="basic-addon1" v-model="formData.destinyNumber">
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="col-12 px-2">

                          <label class="form-label">Amount</label>
                          <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control text-center"
                              aria-label="Amount (to the nearest dollar)" v-model="formData.amount" required>
                            <span class="input-group-text">.00</span>
                          </div>
                          <small v-for="account in showAccount" class="form-text mb-2 d-flex align-items-center"
                            :class="account.balance < formData.amount  ? 'text-danger' : '' ">
                            <span class="material-icons text-muted fs-6 ">
                              error_outline
                            </span>
                            Account balance:{{account.balance}}
                          </small>
                        </div>

                        <div class="col-12 px-2">
                          <div class="group mb-3">
                            <label class="form-label">Description</label>
                            <textarea class="input--group" type="text" v-model="formData.description"></textarea>
                            <span class="highlight"></span>
                          </div>
                        </div>

                      </div>

                     
                      <!-- Modal -->
                      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content rounded-0">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5 fw-bold color-oscuro" id="staticBackdropLabel">Confirm
                                Transfer</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ...
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary"
                                @click.prevent="submitForm">Understood</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="d-flex justify-content-center">
                      <button type="button" class="btn btn-primary" @click.prevent="submitForm">Transfer</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </main>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="./../scripts/transfers.js"></script>
</body>

</html>