.banner-account{
    .balance-visibility{
        cursor: pointer;
    }

    .client-name{
        color: var(--color-claro)!important;
    }
}

.card{
    width: 18rem;
    .circle{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: var(--color-oscuro);
        .material-icons{
            color: #fff;
        }
    }
}    