.btn:active{
    border: none;
}
.dropdown-menu li>a.dropdown-item{
    cursor: pointer;
}
.dropdown-menu li>a.dropdown-item:active{
    background-color: transparent;    
}



.table {
    .fila {
        .fw-bold {
            &.DEBIT {
                color: red;

            }
            &.CREDIT{
                color: green;
            }
        }
        .CREDIT::before{
            content: "+";
        }
        .DEBIT::before{
            content: "-";
        }
    }
}
.empty-transaction{

    .material-icons{
        font-size: 4.33rem!important;
    }
    
}