.progress {
  height: 5px;
  margin-bottom: 20px;
}

.progress-bar {
  background-color: var(--color-oscuro);
}


.form-control::selection{
  border: none!important;
}
.card-transition{
  transition: 0.5s all ease;
}
.cardAccount{
  width: 16rem;
}

.circle{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #fff;
  .material-icons{
      color: var(--color-oscuro);
  }
}